{% extends 'dashapp/dashboard.html' %}
{% block content %}
    <h2 class="sub-header">Teams</h2>
        <div class="row">
            <div class="row placeholders">
                {% for female in all_females %}
                    <div class="col-xs-6 col-sm-3 placeholder">
                        {% load staticfiles %}
                        <img src="{% static 'dashapp/img/ivos.jpg' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                        <h4>{{ female.fName }} {{ female.lName }}</h4>
                        <span class="text-muted">{{ female.team }}</span>
                        </div>
                {% endfor %}
            </div>
        
            <div class="col-sm-offset-9 col-sm-1"><a href="{% url 'dashapp:add_female' %}"><input type="submit" value="Add Female Presenter" class="btn btn-lg btn-danger"></a></div>
        </div>
{% endblock %}