{% extends 'dashapp/dashboard.html' %}
{% block content %}
    <h2 class="sub-header">Teams</h2>
        <div class="row">
            <div class="row placeholders">
                {% for team in all_teams %}
                    <div class="col-xs-6 col-sm-3 placeholder">
                        {% load staticfiles %}
                        <a href="{% url 'dashapp:team_details' team.id %}">
                        <img src="{% static 'dashapp/img/ivos.jpg' %}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                        </a>
                        <h4>{{ team.team_name }}</h4>
                        <span class="text-muted">Something else</span>
                        </div>
                {% endfor %}
            </div>
        
        </div>
{% endblock %}